body{
   background: rgb(14, 17, 14);
}
h1{
    font-family: sans-serif;
    background-image: linear-gradient(to left, #e0cee8, #52128b, #d650b7, #8f300a, #c99024, #9cee44, #15532e, rgb(53, 155, 126), rgb(69, 8, 199));
    border: 7px solid rgb(39, 39, 56);
    font-size: 50px;
    -webkit-text-stroke: 1px white;
    width: fit-content;
    margin: 50px auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: anim 2s linear infinite;
    z-index: 1;
    cursor: default;
    transition: all 0.3 ease;
}
h1:hover{
    transform: scale(1.25);
    z-index: 10;
}
@keyframes anim {
    to {
        background-position: 320px;
    }
}
table{
    width: 100%;
    margin-top: 30px;
    font: linear-gradient(blue, skyblue);
}
td{
    border-radius: 5px;
    border: 2px solid rgb(188, 180, 180);
    width: 50px;
    height: 53px;
    background: #181f23;
}
tr{
    height: 50px;
    padding: 1px;
    position: relative;
    z-index: 1;
    cursor: default;
    transition: all 0.3 ease;
}
.num{
    font-size: 10px;
    color: white;
    margin-left: 3px;
    margin-top: -22px;
}
.name{
    font: 700 16.1538px"Poppins",sans-serif;
    text-align: center;
    font-size: 20px;
    margin-top: 2px;
}
.fname{
    font-size: 8px;
    text-align: center;
    margin-top: -14px;
}
.num1{
    font-size: 10px;
    color: #181f23;
    text-align: center;
    margin-top: -29px;
}
tr, td{
    transition: inherit;
}
td:hover{
    transform: scale(1.25);
    z-index: 10;
}
td:hover .name{
    -webkit-text-fill-color: #181f23;
}
td:hover .fname{
    -webkit-text-fill-color: rgb(232, 100, 100);
}
td:hover .num{
    -webkit-text-fill-color: #181f23;
}
td:hover .num1{
    -webkit-text-fill-color: rgb(220, 149, 149);
    border-bottom: 2px solid rgb(220, 159, 159);
}
td:hover .yname{
    -webkit-text-fill-color: rgb(240, 239, 240);
    text-align: center;
    background: rgb(45, 40, 45);
}
td:hover:after{
    top: 105%;
    opacity: 1;
}
td{
   cursor: pointer;
}
.wew{
    margin-left: -35px;
}
.usa .name{
    background: -webkit-linear-gradient(#e0cee8, #7e53a4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.usa .fname{
    background: -webkit-linear-gradient(#202e38);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.usa .yname{
    background: -webkit-linear-gradient(#e0cee8, #7e53a4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.duha .name{
    background: -webkit-linear-gradient(#6eb8e5, #24399f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.duha .fname{
    background: -webkit-linear-gradient(#202e38);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.duha .yname{
    background: -webkit-linear-gradient(#6eb8e5, #24399f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tulo .name{
    background: -webkit-linear-gradient(#c99024, #ebd195);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tulo .fname{
    background: -webkit-linear-gradient(#202e38);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tulo .yname{
    background: -webkit-linear-gradient(#c99024, #ebd195);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.opat .name{
    background: -webkit-linear-gradient(#8f300a, #c44867);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.opat .fname{
    background: -webkit-linear-gradient(#202e38);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.opat .yname{
    background: -webkit-linear-gradient(#8f300a, #c44867);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.lima .name{
    background: -webkit-linear-gradient(#2ee224, #9cee44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.lima .fname{
    background: -webkit-linear-gradient(#202e38);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.lima .yname{
    background: -webkit-linear-gradient(#2ee224, #9cee44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.unom .name{
    background: -webkit-linear-gradient(#2a5b78, #2999a3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.unom .yname{
    background: -webkit-linear-gradient(#2a5b78, #2999a3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.unom .fname{
    background: -webkit-linear-gradient(#202e38);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pito .name{
    background: -webkit-linear-gradient(#15532e, #22a42c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pito .fname{
    background: -webkit-linear-gradient(#202e38);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pito .yname{
    background: -webkit-linear-gradient(#15532e, #22a42c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.walo .name{
    background: -webkit-linear-gradient(#d5e668, #c6c912);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.walo .fname{
    background: -webkit-linear-gradient(#202e38);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.walo .yname{
    background: -webkit-linear-gradient(#d5e668, #c6c912);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.siyam .name{
    background: -webkit-linear-gradient(#a34bc8, #52128b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.siyam .yname{
    background: -webkit-linear-gradient(#a34bc8, #52128b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.siyam .fname{
    background: -webkit-linear-gradient(#202e38);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.napu .name{
    background: -webkit-linear-gradient(#d650b7, #ef94db);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.napu .yname{
    background: -webkit-linear-gradient(#d650b7, #ef94db);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.napu .fname{
    background: -webkit-linear-gradient(#202e38);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




